{% extends 'inventory/main.html' %}
{% block content %}



<div class="card mb-4">
  <div class="card-body">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">All Purchase</h1>
    </div>
    {% include 'flash/_flash_messages.html' %}
    <table class="table table-striped table-borderless" data-toggle="table" data-search="true" data-show-toggle="true"
      data-show-fullscreen="true" data-show-columns="true">
      <thead>
        <tr>
          <th>PRODUCT</th>
          <th>QUANTITY</th>
          <th>RETURNED QUANTITY</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        {% if items %}
        {% for item,qty in d %}
        <td>{{ item.product}}</td>
        <td>{{ item.qty }}</td>
        <td>{{ qty }}</td>
        <td>
          <a href="{% url 'col_has_product' item.id %}" class="btn btn-outline-info">
            <i class="fas fa-edit"></i>
          </a>
        </td>
        </tr>
        <!-- Modal Edit Product-->
        {% endfor %}
        {% else %}
        <tr>No Products Added yet</tr>
        {% endif %}
      </tbody>
    </table>
    <a class="btn btn-outline-success" href="{% url 'collection' pur1.dispatch %}"> Done </a>
  </div>
</div>

{% endblock %}