{% extends 'inventory/main.html' %}
{% block content %}




<div class="card mb-4">
  <div class="card-body">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Dispatch Product</h1>
    </div>

    <form method="POST">{% include 'flash/_flash_messages.html' %}
      {% csrf_token %}
      <select name="dispatch" hidden>
        <option value="{{ did.id }}" selected>{{ did }}</option>
      </select>
      <div class="form-row">
        <div class="col-sm-4 mb-3">
          <label class="font-weight-bold">Product</label>
          {{ dispatch_detailForm.product }}
        </div>
        <div class="col-sm-4 mb-3">
          <label class="font-weight-bold">Quantity</label>
          <input type="number" class="form-control" name="qty" required>
        </div>
        <div class="col-sm-4 mb-3">
          <label class="font-weight-bold">Price</label>
          <input type="number" class="form-control" name="price" required>
        </div>
      </div>
      <button class="btn btn-outline-info mb-3 px-4" type="submit">Add</button>
    </form>
    <a href="{% url 'dispatch' %}" class="btn btn-outline-success mb-3 px-4" type="submit">Finish</a>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">All Dispatch Product</h1>
    </div>
    <table class="table table-striped table-borderless" data-toggle="table" data-search="true" data-show-toggle="true"
      data-show-fullscreen="true" data-show-columns="true">
      <thead>
        <tr>
          <th>PRODUCT</th>
          <th>QUANTITY</th>
          <th>ACTIONS</th>
        </tr>
      </thead>
      <tbody>
        {% if d %}
        {% for item in d %}
        <td>{{ item.product}}</td>
        <td>{{ item.qty }}</td>
        <td>
          <button type="button" class="btn btn-outline-danger" data-toggle="modal"
            data-target="#deleteModal{{ item.id }}"><i class="fas fa-trash"></i>
          </button>
        </td>
        </tr>

        <!-- Modal Delete Purchase-->
        <div class="modal fade" id="deleteModal{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <form method="POST" action="#">
              {% csrf_token %}
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to delete this Item?<br>
                  Item Name : <b>{{ item.product}}</b>
                  Item Quantity : <b>{{ item.qty }}</b>
                  Item Price : <b>{{ item.price }}</b>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <p></p>
                  <input type="submit" value="Delete" class="btn btn-danger">
                </div>
              </div>
          </div>

          </form>
        </div>


  </div>
</div>
</div>
{% endfor %}
{% else %}
<tr>No Products Added yet</tr>
{% endif %}
</tbody>
</table>
</div>
</div>

{% endblock %}