<div class="card mb-4">
    <div class="card-body">
        <div
            class="d-flex justify-content-between flex
            -wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2"> Summary </h1>
        </div>
<div class="card-deck text-center justify-content-center">
    <div class="card mb-3" style="max-width: 30rem; background-color: #4cd4c7;">
        <div class="card-header">
            <h3 class="card-title">Despatched
            </h3>
        </div>
        <div class=" card-body">
            <h5 class="card-text">Top = 1000</h5>
            <h5 class="card-text">Pallets = 1000</h5>
            <h5 class="card-text">PVC = 12000</h5>
            <h5 class="card-text">SADP = 27000</h5>
            <h5 class="card-text">DADP = 19000</h5>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 30rem; background-color: #7abecc;">
        <div class="card-header">
            <h3 class="card-title">Collected</h3>
        </div>
        <div class="card-body">
            <h5 class="card-text">5000</h5>
            <h5 class="card-text">5000</h5>
            <h5 class="card-text">5000</h5>
            <h5 class="card-text">5000</h5>
            <h5 class="card-text">5000</h5>
        </div>
    </div>
    
</div>
</div>
</div>