{% extends 'inventory/main.html' %}
{% block content %}




<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">{% csrf_token %}
        Customer{{ salesreturnform.sales_user }}
        Sales_date    <input type="date"   name="sales_return_date">
        warehouse {{ salesreturnform.warehouse }}
       
        Truck_owner{{ salesreturnform.truck_owner }}
        Truck_no{{ salesreturnform.truck_no }}
        Weight{{ salesreturnform.weight }}
        <button type="submit" >Submit</button>
    </form>
   
</body>
</html> -->


<div class="card mb-4">
    <div class="card-body">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Sales return </h1>
            <h4>sales id : {{ sid  }}</h3>
        </div>
        {% include 'flash/_flash_messages.html' %}

        <form method="POST">
            {% csrf_token %}

            <div class="form-row">
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Date</label>
                    <input type="date" name="sales_return_date" class="form-control" required>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Warehouse</label>
                    <select class="custom-select" name="warehouse">
                        <option value="{{ sid.warehouse }}" selected>{{ sid.warehouse }}</option>
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Customer</label>
                    <select class="custom-select" name="sales_user">
                        <option value="{{ sid.sales_user }}" selected>{{ sid.sales_user }}</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Truck Owner</label>
                    <select class="custom-select" name="truck_owner">
                        <option>------------- </option>
                        {% for i in t1 %}
                        <option value="{{ i.co_name }}">{{ i.co_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Truck Number</label>
                    <input type="text" name="truck_no" class="form-control">
                </div>
                <div class="col-sm-4 mb-3">
                    <label class="font-weight-bold">Weight</label>
                    <input type="text" name="weight" class="form-control">
                </div>
            </div>
            <!--{% for field in purchase_return  %}
            <p>
                {% for error in field.errors %}
                    <small style="color: red;">{{ error }}</small>
                {% endfor %}
            </p>
            {% endfor %}-->
            <button class="btn btn-outline-danger mb-3 px-4" type="reset">Clear</button>
            <button class="btn btn-outline-success mb-3 px-4" type="submit">Add</button>
        </form>
    </div>
</div>


<div class="card mb-4">
    <div class="card-body">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">All Sales Returns</h1>
        </div>
        <table class="table table-striped table-borderless">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>WAREHOUSE</th>
                    <th>CUSTOMER</th>
                    <th>TRUCK OWNER</th>
                    <th>TRUCK NO.</th>
                    <th>WEIGHT</th>
                    <th>PRODUCT</th>
                    <th>QUANTITY</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>

                {% for sales_return in sr %}
                <tr>

                    <td>{{ sales_return.sales_return_date }}</td>
                    <td>{{ sales_return.warehouse }}</td>
                    <td>{{ sales_return.sales_user }}</td>
                    <td>{{ sales_return.truck_owner }}</td>
                    <td>{{ sales_return.truck_no }}</td>
                    <td>{{ sales_return.weight }}</td>
                    <td>
                        {% for i in srhp %}
                        {% if sales_return == i.sales_return %}
                        {{ i.product }}<br>
                        {% endif %}
                        {% endfor %}
                    </td>

                    <td>
                        {% for i in srhp %}
                        {% if sales_return == i.sales_return %}
                        {{ i.qty }}<br>
                        {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        <a href="{% url 'update_sales_return' sales_return.id  %}" class="btn btn-outline-info">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#deleteModal{{ sales_return.id }}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>

                </tr>
                <!-- Modal Delete Purchase-->
                <div class="modal fade" id="deleteModal{{ sales_return.id }}" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form method="POST" action="{% url 'delete_salesreturn' sales_return.id  %}">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this purchase entry?<br>
                                    Date : <b>{{ sales_return.sales_date }}</b><br>
                                    Warehouse : <b>{{ sales_return.warehouse }}</b><br>
                                    Supplier : <b>{{ sales_return.supplier }}</b><br>
                                    <ul>
                                        {% for prod in srhp %}
                                        {% if prod.sales_return == sales_return %}
                                        <li> {{ prod.product }} {{ prod.qty }}</li>
                                        {% endif %}
                                        {% endfor %}

                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <p></p>
                                    <input type="submit" value="Delete" class="btn btn-danger">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}