{% extends 'inventory/main.html' %}
{% block content %}

<div class="card mb-4">
    <div class="card-body">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Add Supplier</h1>
        </div>
        {% include 'flash/_flash_messages.html' %}
        <form method="POST">

            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Name</label>
                    {{ supplier.supplier_name  }}
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Mobile no.</label>
                    {{ supplier.mobile }}
                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">Address</label>
                    {{ supplier.address }}
                </div>
                <div class="col-sm-6 mb-3">
                    <label class="font-weight-bold">GST No.</label>
                    {{ supplier.gst_no }}
                </div>
            </div>
            <button class="btn btn-outline-success mb-3 px-4" type="submit">Add</button>
        </form>
    </div>
</div>

<div class="card mb-4">
    <div class="card-body">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">All Supplier</h1>
        </div>
        <table class="table table-striped table-borderless" data-toggle="table" data-search="true"
            data-show-toggle="true" data-show-fullscreen="true" data-show-columns="true">
            <thead>
                <tr>
                    <th>NAME</th>
                    <th>MOBILE NO.</th>
                    <th>ADDRESS</th>
                    <th>GST NO.</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                {% for sup in supplier_data %}
                {% if sup.is_active == True %}
                <tr>
                    <td>{{sup.supplier_name}}</td>
                    <td>{{sup.mobile}}</td>
                    <td>{{sup.address}}</td>
                    <td>{{sup.gst_no}}</td>
                    <td>
                        <a href="#" class="btn btn-outline-info" data-toggle="modal"
                            data-target="#modaledit{{ sup.id }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button type="button" class="btn btn-outline-danger" data-toggle="modal"
                            data-target="#deleteModal{{ sup.id }}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- Modal Edit Supplier-->
                <div id="modaledit{{ sup.id }}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Edit Supplier</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="{% url 'update_supplier' sup.id %}">{% csrf_token %}
                                    <div class="form-row">
                                        <div class="col-sm-6 mb-3">
                                            <label class="font-weight-bold">Name</label>
                                            <input type="text" class="form-control" name="supplier_name"
                                                value="{{ sup.supplier_name }}" required>
                                        </div>
                                        <div class="col-sm-6 mb-3">
                                            <label class="font-weight-bold">Mobile no.</label>
                                            <input type="tel" class="form-control" name="mobile" pattern="[0-9]{10}"
                                                value="{{ sup.mobile }}" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-6 mb-3">
                                            <label class="font-weight-bold">Address</label>
                                            <input type="text" class="form-control" name="address"
                                                value="{{ sup.address }}" required>
                                        </div>
                                        <div class="col-sm-6 mb-3">
                                            <label class="font-weight-bold">GST No.</label>
                                            <input type="text" class="form-control" name="gst_no"
                                                pattern="[0-9,A-Z]{15}" value="{{ sup.gst_no }}" required>
                                        </div>
                                    </div>
                                    <button class="btn btn-outline-success mb-3 px-4" type="submit">Update</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- Modal Delete Supplier-->
                <div class="modal fade" id="deleteModal{{ sup.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <form method="POST" action="{% url 'deletesupplier' sup.id %}">
                            {% csrf_token %}
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete {{ sup.supplier_name }}?<br>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <p></p>
                                    <input type="submit" value="Delete" class="btn btn-danger">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}