{% extends 'inventory/main.html' %}

{% load static %}


    {% block content %}    
    {% include 'flash/_flash_messages.html' %}
    <form method="POST">{% csrf_token %}
        <h1>Reset password</h1>
        <input type="email" class="form-control" id="exampleInputPassword1" name="email"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        aria-describedby="inputGroupPrepend" placeholder="Email" required>
     
        {% for field in form %}
                            <p>
                                {% for error in field.errors %}
                                    <small style="color: red;">{{ error }}</small>
                                {% endfor %}
                            </p>
                            {% endfor %}
                            {% if form.non_field_errors %}
                            <strong style="color: red;">{{ form.non_field_errors }}</strong>
                            {% endif %}
                            <button class="btn btn-outline-dark px-3 py-2 " type="submit" name="action"
                                    value="signUp">Sent mail</button>
    </form>
    
    {% endblock %}