{% extends 'inventory/main.html' %}

{% load static %}


    {% block content %}   

    {% include 'flash/_flash_messages.html' %}
 
    
    <form method="POST">{% csrf_token %}
       <h1>Change password</h1>
        <input type="password" class="form-control" id="exampleInputPassword1" name="new_password1"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        aria-describedby="inputGroupPrepend" placeholder="New Password" required>

        <input type="password" class="form-control" id="exampleInputPassword1" name="new_password2"
        title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
        aria-describedby="inputGroupPrepend" placeholder="Confirm Password" required>
       <!--{{ form }}-->

     
                           
                            <button class="btn btn-outline-dark px-3 py-2 " type="submit" name="action"
                                    value="signUp">Update</button>
    </form>
    
    {% endblock %}
   